.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.track-index {
  text-align: center;
  margin-top: 5%;
}

.track-show {
  text-align: center;
  margin-top: 2%;
}

.leaderboard {
  margin-left: auto;
  margin-right: auto;
}

.leaderboard-element {
  margin-right: auto;
  margin-left: auto;
}

.leaderboard-number {
  margin-top: 2%;
  margin-bottom: 2%;
  border-style: double;
}

.submit-form {
  margin-top: 2%;
}

.song-description {
  border-style: double;
  border-width: 50%;
}